<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-simple-line-chart/px-simple-line-chart.html">
<link rel="import" href="../../bower_components/px-kpi/px-kpi.html">

<dom-module id="blankpage-view">
  <template>
      <iron-ajax id="ajax" url="/api/msu/timeseries" on-response="_onResponse" last-response="{{_simpleDataValuesB}}"
        auto>
      </iron-ajax>
      <iron-ajax id="ajax2" url="/api/msu/timeseries/sum" on-response="_onResponse2" last-response="{{_sum}}"
        auto>
      </iron-ajax>

    <px-view-header title="Timeseries" style="display: block; margin-bottom: 6px;"></px-view-header>
    <px-card icon="fa-database" header-text="Analysis of Test Data">
      <px-simple-line-chart line-data="[[_simpleDataValuesB.data.values]]" width="auto" max="10" min="0" threshold="5">
      </px-simple-line-chart>

      <px-kpi title="SUM over last hour" value="{{_sum}}" uom="USD" status-icon="arrow-up" status-color="green" status-label="12%"></px-kpi>

    </px-card>
  </template>
  <script>
    Polymer({
      is: 'blankpage-view',
      properties: {},
      ready: function () {
        console.log('blankpage-view ready()')
      },
      _updateData: function () {
        this.async(function () {
          this.$.ajax.generateRequest();
        }, 5000);
      },
      _onResponse: function () {
        console.log('received response');
        this._updateData();
      },
      _updateData2: function () {
        this.async(function () {
          this.$.ajax2.generateRequest();
        }, 5000);
      },
      _onResponse2: function () {
        console.log('received response');
        this._updateData2();
      }
    });
  </script>
</dom-module>